<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MMO3D.Server.Properties.Settings.MMO3DConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMO3D;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
